.outerform{
    display: flex;
    flex-direction: column;
    background-color: #D3E3FD;
    width: 80%;
    align-items: center;
    margin: 100px auto;
    height: 80vh;
    gap: 40px;
    border-radius: 50px;
}
.outerform h1{
    font-size: 35px;
    margin-top: 50px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
}

form div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
form div input{
    width: 70%;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    
}
form div label{
    font-size: 22px;
}
form button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    margin-top: 50px;
    font-size: 20px;
}
.ifaccount{
    display: flex;
    font-size: 22px;
    

}
.ifaccount span a{
    color: blue;
    padding: 20px;
    text-decoration: none;
}